.modal_root > div {
    border-radius: 8px !important;
    width: 145px;
    box-shadow: 1px 1px 15px 10px rgb(0 0 0 0.7) !important;
}
.modal_root > div > div > div {
    padding-left: 15px !important;
    height: 18px;
}