.alert_options { display: flex; } 
.alert_options > h3 { font-size: 14px; margin-right: 0px; padding: 8px; padding-left: 0px; } 
.alert_options > div { height: 20px; display: flex; align-items: center; background: #f1f3f4; margin-right: 8px; padding: 8px; border-radius: 3px; } 
.alert_options > div > svg { margin-left: 8px; color: rgb(69, 69, 69); } 
.alert_options > div:last-child { margin-right: 0px; } 


.list_container { cursor: pointer; } 
.alert_input { width: 60px; }
.alert_input input { background: #f1f3f4; font-size: 14px; } 
.alert_input hr {background: transparent;}

.alert_input_number { width: 50px; }
.alert_input_number input { background: #f1f3f4; font-size: 14px; } 
.alert_input_number input::-webkit-outer-spin-button, 
.alert_input_number input::-webkit-inner-spin-button { padding: 10px 0px; height: 5px !important; } 
.alert_input_number hr {background: transparent;}
