.calendar_wrap{width: 240px; height: 100%;}

.year{display: flex; justify-content: space-between; padding: 5px 0; box-sizing: border-box;}
.year .text{margin-left: 10px; }
.year .text em{font-size: 14px;font-weight: 500;color: #3c4043;}
.year .text em:nth-child(2){margin-left: 5px;}
.year .year_btt{margin-right: 12px;}
.year .year_btt button{ background: transparent; margin-left: 20px;font-size: 14px; cursor: pointer;}

.calendar_talbe{width: 240px;}
.calendar_talbe td,th{width: 30px;height: 30px; text-align: center; border-radius: 50%;}
.calendar_talbe th{font-size: 12px; font-weight: 600; }
.calendar_talbe td{cursor: pointer;}
.calendar_talbe td.active{color: #000; text-align: center;background: #AECBFA; }
.todya_date{width: 100%;height: 100%;}

.calendar_talbe td em{font-weight: 600; font-size: 11px;}

