.calendar_header { display: flex; justify-content: space-around; margin-top: 10px; margin-left: 60px; }
.calendar_header > div { height: 70px; display: flex; flex-direction: column; align-items: center; justify-content: center; } 
.calendar_header > div > em { font-size: 11px; font-weight: 500; color: #676767;} 
.calendar_header > div > p { display: inline-block; width: 45px; color: #585858; height: 45px; font-size: 25px; font-weight: 400; border-radius: 100%; text-align: center; line-height: 42px; } 

.today em { color: #1a73e8; }
.today p { background: #1a73e8; color: #fff !important; }

.calendar_header_date { cursor: pointer; }
.calendar_header_date:hover { background: #f2f2f2; }
.today p:hover { background: #1263ce;  }

