.calendar_item { display: flex; justify-content: space-between; align-items: center; height: 32px; font-size: 14px; padding: 0px 15px 0px 20px; } 
.calendar_item * { cursor: pointer;}
.calendar_item:hover { background-color: #f8f8f8; } 

.calendar_item label { width: 100%; }
.calendar_item label p { width: 120px; white-space: nowrap; text-overflow: ellipsis; overflow: hidden; } 
.calendar_item:hover svg { visibility: visible; opacity: 1; } 