.event_bar { width: 100%; position: absolute; background: #4285f4; z-index: 3; border-radius: 4px; box-shadow: 2px 2px 6px rgb(0, 0, 0, .5); } 
.event_bar p { height:23px; vertical-align: middle; color: #fff; text-align: left; padding:0px 10px; white-space: nowrap; overflow:hidden; text-overflow: ellipsis; } 

.scale1 { width: 100%; } 
.scale2 { width: calc(100% * 2 + 2px - 5px); } 
.scale3 { width: calc(100% * 3 + 3px - 5px); } 
.scale4 { width: calc(100% * 4 + 4px - 5px); } 
.scale5 { width: calc(100% * 5 + 5px - 5px); } 
.scale6 { width: calc(100% * 6 + 6px - 5px); } 
.scale7 { width: calc(100% * 7 + 7px - 5px); } 