.list_items { max-height: 220px; overflow-y: auto; overflow-x: hidden;} 
.list_items div { position: relative; padding: 8px 25px 8px 10px; height: 20px; vertical-align: middle; font-size: 14px; width:100%; cursor: pointer; } 
.list_items div:hover { background: #f3f5f8; } 
