.list_items { max-height: 260px; overflow: auto; } 
.list_items div { position: relative; padding: 8px 25px 8px 10px; height: 20px; vertical-align: middle; font-size: 14px; } 
.list_items div:hover { background: #f3f3f3; } 