.user_info { display: flex; margin-bottom: 10px; } 
.user_info:last-child { margin-bottom: 0px; } 

.user_info .user_profile { position: relative; margin-right: 15px; } 
.user_info .user_profile img { position: relative; border-radius: 100%; background: white; width: 25px; height: 25px; color: white;  } 
.user_info .user_state { border-radius: 100%; background: gainsboro; color: #515151; padding: 2px; width: 10px; height: 10px; border: 1px solid white; position: absolute; left:18px; top: 11px; } 

.user_info .accept { background: #b4eecf; color: #046a1f; } 
.user_info .refuse { background: #ffcece; color: #da1515; } 
.user_info .toBeDetermined { background: gainsboro; color: #3b3b3b; } 