.sidebar { width: 250px; height: 83vh; padding: 10px 8px; background: white; transition: all 0.4s; } 
.close { margin-left: -268px; } 

.sidebar_event_button { width: inherit; height: 70px; padding-top: 10px; padding-left: 10px; transition: all 0.4s; } 
.sidebar_event_button button { background: rgb(255, 255, 255, 0.5); position: absolute; z-index: 2; } 
.sidebar.close .sidebar_event_button { margin-left: 280px; } 
.sidebar.close .sidebar_event_button button { width: 50px; height: 50px; border-radius: 100%; padding-left: 11px; } 

.sidebar_calender { width: 95%; height: 100%; max-height: 82vh; padding-right: 10px; padding-bottom: 10px; text-align: center; overflow-y: overlay; } 
.sidebar_calender::-webkit-scrollbar-thumb { visibility: hidden; } 
.sidebar_calender:hover.sidebar_calender::-webkit-scrollbar-thumb { visibility: visible; } 
