.sidebar { width: 250px; height: 91.5vh; padding: 10px 8px; background: white; transition: all 0.4s; } 
.close { margin-left: -258px; } 

.sidebar_event_button { width: inherit; height: 70px; padding-top: 10px; padding-left: 10px; transition: all 0.4s; } 
.sidebar_event_button button { background: rgb(255, 255, 255, 0.5); position: absolute; z-index: 10; } 
.sidebar.close .sidebar_event_button { margin-left: 280px; } 
.sidebar.close .sidebar_event_button button { width: 50px; height: 50px; border-radius: 100%; padding-left: 11px; } 
.sidebar.close .sidebar_event_button button *:nth-child(n+2) { display: none; } 

.sidebar_calender { position: relative; overflow-y: scroll; overflow-x: hidden; z-index: 10; width: 250px; height: 82vh; margin-right: 10px; padding-bottom: 10px; text-align: center; } 
.sidebar_calender::-webkit-scrollbar-thumb { visibility: hidden; position: absolute !important; } 
.sidebar_calender:hover.sidebar_calender::-webkit-scrollbar-thumb { visibility: visible; } 