.search_input {
    border: none;
    background:#f3f3f3;
    border-radius: 4px;
    height: 35px;
    width: 190px;
    margin-left: 0px;
    margin-bottom: 10px;
    padding-left: 5px;
    border: 2px solid #f3f3f3;
    outline: none;
}

.search_input:focus {
    border-bottom: 2px solid #1E88E5;
    transition-duration: 0.5s;
}