.calendar_td { width: 100%; border-left: 1px solid #d9d9d9; border-bottom: 1px solid #d9d9d9; padding-bottom:10px; padding-top: 5px; white-space:nowrap } 

.calendar_td > em { display: inline-block; min-width: 20px; padding: 3px; border-radius: 100%; cursor: pointer; } 
.calendar_td > em:hover { background-color: #f2f2f2; } 

.calendar_today > em { color: #fff; background: #2b63ff; } 
.calendar_today > em:hover { background: #2351d1; } 


.event_selection_container { position:relative; height: calc(100% - 25px); width: 100%; margin-top:5px; } 
