.events_tr > td > div { min-height: 20px !important; height: fit-content !important;}
.events_tr > :nth-child(2) { min-width: 10px; width: 10px; flex-grow: 0 !important; border-bottom: 1px solid #e6e6e6; } 
.events_tr > :first-child em { float: right; position: relative; right: 5px; top:2px; }