.nav{width: 100%;height: 60px;background: #fff; border-bottom: 1px solid #ccc; padding: 0 20px 0 10px; box-sizing: border-box; position: relative; z-index: 11; }
.menu_wrap{height: 100%; display: flex; justify-content: space-between; align-items: center;}

@media (max-width:560px){
    .nav{padding: 0 5px 0 5px;}
}

