.modal_container{
    position: absolute;
    z-index: 999;
    background: white;
    width: fit-content;
    height: fit-content;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 2px 2px 10px 1px rgb(0, 0, 0, 0.3);
    top: 50px;
    left: 50px;
}