.modal_container { position: fixed; z-index: 999; background: white; width: fit-content; height: fit-content; padding: 10px 8px; border-radius: 10px; box-shadow: 2px 2px 10px 1px rgb(0, 0, 0, 0.3); transition: all 0.3s; animation: openEffect .3s; top: 50%; left: 50% } 
.modal_background { 
 position: fixed; 
 background: transparent; 
 top: 0px; 
 left: -265px; 
 width: calc(100vw + 265px); 
 height: 100vh; 
 z-index: 998; 
 } 
 .max_zIndex { z-index: 1000; cursor:move; } 

@keyframes openEffect { 
 from { transform: scale(0); } 
 to { transform: scale(1); } 
 } 

.modal_close_icon { position: absolute; top: 8px; right: 10px; border-radius: 100%; width: 30px; height: 30px; display: flex; justify-content: center; align-items: center; z-index:3; } 
.modal_close_icon svg { width: 18px; height: 18px; color: #525252; } 
.modal_close_icon:hover { background: #f1f1f1; } 