.AlertPage{width: 100%;height: 100vh; display: flex; justify-content: center; align-items: center; position: fixed; top: 50%;left: 50%; transform: translate(-50%,-50%); z-index: 9999; background: rgba(0, 0, 0, 0.5);}

.container{ width: 40vw;}

.content {
  width: 100%;
  height: 100%;
}

.events {
  padding: 20px; box-sizing: border-box;
  margin: 20px 0;
  background: #fff;
  border-radius: 15px;
}

.event {
  height: 50px;
  margin-bottom: 10px;
  padding: 10px 20px;
  border-width: 1px;
  border: solid;
  border-color: rgb(80, 204, 212);
  border-radius: 10px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  
}
.event.active{border-color: #ccc; color: #aaa; pointer-events: none;}

.content {
  margin-top: 5px;
}

.inviteBtns {
  display: flex;
}

.acceptInvite {
  padding: 3px 7px;
  border-radius: 8px;
  border: solid;
  border-width: 2.5px;
  border-color: rgb(80, 204, 212);
  cursor: pointer;

  margin-right: 10px;
}
.acceptInvite:hover {
  transform: scale(1.05);
}

.rejectInvite {
  padding: 3px 7px;
  border-radius: 8px;
  border: solid;
  border-width: 2.5px;
  border-color: rgb(80, 148, 212);
  cursor: pointer;
}

.rejectInvite:hover {
  transform: scale(1.05);
}

.toEvent {
  cursor: pointer;
}

.toEvent:hover {
  font-weight: 500;
  transform: scale(1.05);
}

.pageBtn {
  display: flex;
  justify-content: space-between;
}

.prevPage {
  cursor: pointer;
  font-size: medium;
  margin: 10px 0 0 10px;
}

.prevPage:hover {
  font-weight: 500;
  transform: scale(1.1);
}

.prevPage.visible{pointer-events: none; color: #ccc;}

.nextPage {
  cursor: pointer;
  font-size: medium;
  margin: 10px 10px 0 0;
}

.nextPage.visible{pointer-events: none; color: #ccc;}

.nextPage:hover {
  font-weight: 500;
  transform: scale(1.1);
}

.toEvent:focus {
}

.acceptInvite {
}

.notice_check{
  font-size: 16px; text-align: center;   
  padding: 3px 7px;
  border-radius: 8px;
  border: solid;
  border-width: 2.5px;
  border-color: rgb(80, 204, 212);
}



@media (max-width:1200px){
  .container{ width: 60vw;}
}


@media (max-width:600px){
  .container{ width: 70vw;}
}
