.time_event { display: flex; align-items: center; flex-wrap: nowrap; color: black;font-size: 12px; background: white; width: calc(100% - 5px); height: 1.35rem; max-height: 28px; margin-bottom: 4px; text-align: left; cursor: pointer; border-radius: 3px; border:1px solid transparent} 
.time_event > * { overflow: hidden; }
.time_event:hover { filter: brightness(0.9); } 

.time_event_calendar { background: red; margin: 0px 5px 0px 10px; border-radius: 100%; width: 8px; height: 8px; flex-shrink: 0; flex-wrap: nowrap;} 
.time_event_title {width: 100%; overflow: hidden; }
