.calendar{
    position: relative;
}

.calendar_icon_plus {
    position: absolute;
    top: -1px;
    right: 45px;
    border-radius: 100%;
    padding: 10px;
    z-index: 1;
}

.calendar_icon_plus:hover{
    background-color: #f8f8f8;
}