.calendarInfo { display: flex; justify-content: space-between; align-items: center; height: 32px; font-size: 14px; padding: 0px 20px; } 
.calendarInfo:hover { background-color: #f8f8f8; } 

.calendarInfo label { display: flex; align-items: center; width: 80%; } 

.calendarInfo label input { margin-right: 10px; } 
.calendarInfo label p { max-width: 130px; text-align: left; white-space: nowrap; text-overflow: ellipsis; overflow: hidden; } 

.calendarInfo_icon { text-align: right; width: 25%; } 
.calendarInfo_icon .icon_mark, .icon_option { width: 10px; visibility: hidden; opacity: 0; transition: all 0.4s; } 
.calendarInfo_icon .icon_option { padding-left: 25px; } 
.calendarInfo:hover .icon_mark { visibility: visible; opacity: 1; } 
.calendarInfo:hover .icon_option { visibility: visible; opacity: 1; } 
