.calendar_tr td { width: 30px; height: 22px; text-align: center; vertical-align: middle; border-radius: 100%; color: #000; cursor: pointer; padding: 3px 0px; transition: all 0.5s; } 
.calendar_tr td em { font-weight: 500; font-size: 12px; } 

.calendar_tr td:hover { background: #ececec; transition-duration: .5s; } 
.calendar_tr td:active { background: #abcaff; transition-duration: .5s; } 

.calendar_tr td.date_select { color: #000; background: #cde0ff; } 
.calendar_tr td.date_select:hover { background: #7099dc; transition-duration: .5s; } 
.calendar_tr td.date_today { color: #fff; background: #2b63ff; } 
.calendar_tr td.date_today:hover { background: #2351d1; } 
.calendar_tr td.date_blur { color: #a3a3a3; } 

@media (max-width: 1500px){
 .calendar_tr td em { margin: 0px 8px; } 
 }